* {
  padding: 0;
  margin: 0;
}

.calContainer {
  min-height: 100vmin;
}

.resultBox {
  width: 20%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  background: #858693;
}

.results {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.tableData {
  width: 20.6%;
  border-spacing: 0;
}

td {
  height: 40px;
  width: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  background: #e0e0e0;
}

.rightOperator {
  background: #f5913e;
}